body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-color: #5da58a;/*#ff8080;*/
    overflow: hidden;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 0;
    background-color: #343434;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #B0B0B0;
    display: block;
    transition: 0.3s;
    border: 1px solid #343434;
    -webkit-transition-property: background;
    -webkit-transition-duration: 1s;
    -webkit-transition-timing-function: ease;
    /* Standard syntax */
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #e7e7e7;
    /*border-top: 1px solid #464646;*/
    border-bottom: 1px solid #8a8a8a;
    background-color: #8a8a8a;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding-top: 0px;
    padding-left: 15px;
    overflow: hidden;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
